@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
  overflow-x: hidden !important;
}

body {
  height: 100%;
  overflow-x: hidden !important;
  background-color: black !important;
  position: relative;
  z-index: 1;
  font-family: Mulish !important;
  scroll-behavior: smooth;
  padding: 0 !important;
  margin: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #root {
  height: 100%;
} */

:root {
  --hotPink: rgb(234, 11, 186);
  --bgDarkGrey: #18181b;
}

.hotPinkBtn {
  background-color: var(--hotPink);
}

.darkGreyBtn {
  background-color: var(--bgDarkGrey);
  color: black !important;
}
.section {
  padding: 100px 0;
  width: 100%;
}

@media (max-width: 575px) {
  .section {
    padding: 60px 0;
  }
}


.fw-custom-light {
  font-weight: 100 !important;
}

.no-underline {
  text-decoration: none;
}
