
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black !important;
  position: relative;
  z-index: 1;
  font-family: Mulish !important;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

:root {
  /* --darkGreyBG: #282828;
  --darkGreyText: #161616;
  --lightGreyText: #a3a2a2;
  --medGreyText: rgb(199, 199, 199);
  --bsLight: #f8f9fa;
  --brightRed: #e00606;
  --purple: #a618fc;
  --borderRadiusSmall: 3px;
  --borderRadius: 15px; */
}
