html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black !important;
  position: relative;
  z-index: 1;
}

#root {
  height: 100%;
}

:root {
  /* --darkGreyBG: #282828;
  --darkGreyText: #161616;
  --lightGreyText: #a3a2a2;
  --medGreyText: rgb(199, 199, 199);
  --bsLight: #f8f9fa;
  --brightRed: #e00606;
  --purple: #a618fc;
  --borderRadiusSmall: 3px;
  --borderRadius: 15px; */
}
