.home {
    height: 100vh;
}

.hiThere {
    font-weight: 200 !important;
}

.h1 {
    line-height: 3.5rem;
    font-size: 2.65rem !important;
    
}

.hrDeveloper {
    width: 20ch;
    border: 0;
    height: 1.4px;
    background-color: #fffefe;
    margin-top: 0.2rem;
  }

  .h4 {
    font-weight: 100;
    font-style: italic;
    line-height: 2.2rem;
    margin-top: -5px;
  }

 
.innerWrapper {
    margin-top: 7rem;
}

  .bioImage {
    object-fit: cover !important;
  }