/* Base button styling */
.btn {
  font-size: 0.95rem !important;
  position: relative !important;
  overflow: hidden !important;
  transition: 0.2s ease-in-out;
  will-change: transform !important;
  z-index: 1 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/* Media query: full width for mobile */
@media (max-width: 768px) {
  .btn {
    width: 100% !important;
  }
}

/* Media query: hover animation only for desktop */
@media (min-width: 768px) {
  .btn::after {
    background: linear-gradient(
      135deg,
      rgba(255, 20, 147, 1),
      rgba(0, 0, 255, 1)
    );
    content: "";
    top: 0;
    left: -50%;
    width: 253%;
    height: 338%;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: transform 0.2s ease-in-out;
    z-index: -1;
  }

  .btn:hover::after {
    transform: translateX(0) rotate(45deg);
  }

  .btn:hover {
    transform: scale(1.05);
  }
}