/* ////// desktop nav styles */

.desktopNav a.active::after,
.desktopNav a:hover::after {
  width: 100%;
}

/* Active state for mobile nav */
.innerNav a.active:before {
  height: 100%;
}

.desktopNav a {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 600;
}

.navBrand {
  letter-spacing: 1.25px;
}

.desktopNav {
  background-color: black !important;
}

.desktopNav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--hotPink);
  transition: width 0.3s ease-in-out;
}

/* ////// mobile nav styles */

.hamburger {
  position: fixed;
  top: 3.7rem;
  right: 4rem;
  margin-left: -2em;
  margin-top: -45px;
  width: 2rem;
  height: 45px;
  z-index: 5000;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 2em;
  height: 6px;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 1000;
}
.navWrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  height: 70%;
  justify-content: space-between;
}

.innerNav a {
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
}
.innerNav a:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0.15em;
  background-color: var(--hotPink);
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

.innerNav a:hover:before {
  height: 100%;
}

.desktopNav {
  display: none; /* Hidden by default on smaller screens */
}

@media (min-width: 768px) {
  .desktopNav {
    display: block; /* Show desktop nav for larger screens */
  }
  .mobileNav {
    display: none; /* Hide mobile nav for larger screens */
  }
}
