.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey, 0.3;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  aspect-ratio: 16 / 9;
  background-color: rgba(grey, 0.3);
}

.popUpactive {
  opacity: 1;
  visibility: visible;
}

.popupContent {
  position: absolute;
  width: 80%;
  height: 80%;
  overflow: hidden;
  opacity: 1;
  transition: all 0.4s 0.2s;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.carousel {
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
}

.carousel > div:nth-of-type(2) {
  height: 100% !important;
}

.carouselItem {
  height: 100% !important;
}

.carouselItem img {
  object-fit: contain !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

.closeBTN {
  right: 1.2rem;
  top: 1.2rem;
  cursor: pointer;
  font-size: 1.1rem !important;
  z-index: 2;
}

@media (max-width: 1000px) {
  .popupContent {
    width: 100%;
    aspect-ratio: 4 / 3;
  }
}

@media (max-width: 600px) {
  .popupContent {
    height: 70%;
  }
}

@media (max-width: 500px) {
  .popupContent {
    height: 50%;
  }
}

@media (max-width: 350px) {
  .popupContent {
    height: 40%;
  }
}
